.VPLocalSearchBox {
  position: fixed;
  z-index: 100;
  inset: 0;
  display: flex;
}

.VPLocalSearchBox .backdrop {
  position: absolute;
  inset: 0;
  background: var(--vp-backdrop-bg-color);
  transition: opacity 0.5s;
}

.VPLocalSearchBox .shell {
  position: relative;
  padding: 12px;
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--vp-local-search-bg);
  width: min(100vw - 60px, 900px);
  height: min-content;
  max-height: min(100vh - 128px, 900px);
  border-radius: 6px;
}

@media (max-width: 767px) {
  .VPLocalSearchBox .shell {
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-height: none;
    border-radius: 0;
  }
}

.VPLocalSearchBox .search-bar {
  border: 1px solid var(--vp-c-divider);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: text;
}

@media (max-width: 767px) {
  .VPLocalSearchBox .search-bar {
    padding: 0 8px;
  }
}

.VPLocalSearchBox .search-bar:focus-within {
  border-color: var(--vp-c-brand-1);
}

.VPLocalSearchBox .local-search-icon {
  display: block;
  font-size: 18px;
}

.VPLocalSearchBox .navigate-icon {
  display: block;
  font-size: 14px;
}

.VPLocalSearchBox .search-icon {
  margin: 8px;
}

@media (max-width: 767px) {
  .VPLocalSearchBox .search-icon {
    display: none;
  }
}

.VPLocalSearchBox .search-input {
  padding: 6px 12px;
  font-size: inherit;
  width: 100%;
}

.VPLocalSearchBox .search-input::-webkit-search-cancel-button {
  display: none;
}

@media (max-width: 767px) {
  .VPLocalSearchBox .search-input {
    padding: 6px 4px;
  }
}

.VPLocalSearchBox .search-actions {
  display: flex;
  gap: 4px;
}

@media (any-pointer: coarse) {
  .VPLocalSearchBox .search-actions {
    gap: 8px;
  }
}

@media (min-width: 769px) {
  .VPLocalSearchBox .search-actions.before {
    display: none;
  }
}

.VPLocalSearchBox .search-actions button {
  padding: 8px;
}

.VPLocalSearchBox .search-actions button:not([disabled]):hover,
.VPLocalSearchBox .toggle-layout-button.detailed-list {
  color: var(--vp-c-brand-1);
}

.VPLocalSearchBox .search-actions button.clear-button:disabled {
  opacity: 0.37;
}

.VPLocalSearchBox .search-keyboard-shortcuts {
  font-size: 0.8rem;
  opacity: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  line-height: 14px;
}

.VPLocalSearchBox .search-keyboard-shortcuts span {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (max-width: 767px) {
  .VPLocalSearchBox .search-keyboard-shortcuts {
    display: none;
  }
}

.VPLocalSearchBox .search-keyboard-shortcuts kbd {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 4px;
  padding: 3px 6px;
  min-width: 24px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid rgba(128, 128, 128, 0.15);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.VPLocalSearchBox .results {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.VPLocalSearchBox .result {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  transition: none;
  line-height: 1rem;
  border: solid 2px var(--vp-local-search-result-border);
  outline: none;
}

.VPLocalSearchBox .result > div {
  margin: 12px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 767px) {
  .VPLocalSearchBox .result > div {
    margin: 8px;
  }
}

.VPLocalSearchBox .titles {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  position: relative;
  z-index: 1001;
  padding: 2px 0;
}

.VPLocalSearchBox .title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.VPLocalSearchBox .title.main {
  font-weight: 500;
}

.VPLocalSearchBox .title-icon {
  opacity: 0.5;
  font-weight: 500;
  color: var(--vp-c-brand-1);
}

.VPLocalSearchBox .title svg {
  opacity: 0.5;
}

.VPLocalSearchBox .result.selected {
  --vp-local-search-result-bg: var(--vp-local-search-result-selected-bg);
  border-color: var(--vp-local-search-result-selected-border);
}

.VPLocalSearchBox .excerpt-wrapper {
  position: relative;
}

.VPLocalSearchBox .excerpt {
  opacity: 50%;
  pointer-events: none;
  max-height: 140px;
  overflow: hidden;
  position: relative;
  margin-top: 4px;
}

.VPLocalSearchBox .result.selected .excerpt {
  opacity: 1;
}

.VPLocalSearchBox .excerpt * {
  font-size: 0.8rem !important;
  line-height: 130% !important;
}

.VPLocalSearchBox .titles mark,
.VPLocalSearchBox .excerpt mark {
  background-color: var(--vp-local-search-highlight-bg);
  color: var(--vp-local-search-highlight-text);
  border-radius: 2px;
  padding: 0 2px;
}

.VPLocalSearchBox .excerpt .vp-code-group .tabs {
  display: none;
}

.VPLocalSearchBox .excerpt .vp-code-group div[class*='language-'] {
  border-radius: 8px !important;
}

.VPLocalSearchBox .excerpt-gradient-bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 8px;
  background: linear-gradient(transparent, var(--vp-local-search-result-bg));
  z-index: 1000;
}

.VPLocalSearchBox .excerpt-gradient-top {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 8px;
  background: linear-gradient(var(--vp-local-search-result-bg), transparent);
  z-index: 1000;
}

.VPLocalSearchBox .result.selected .titles,
.VPLocalSearchBox .result.selected .title-icon {
  color: var(--vp-c-brand-1) !important;
}

.VPLocalSearchBox .no-results {
  font-size: 0.9rem;
  text-align: center;
  padding: 12px;
}

.VPLocalSearchBox svg {
  flex: none;
}
