.VPNavScreenTranslations {
  height: 24px;
  overflow: hidden;
}

.VPNavScreenTranslations.open {
  height: auto;
}

.VPNavScreenTranslations .title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-c-text-1);
}

.VPNavScreenTranslations .icon {
  font-size: 16px;
}

.VPNavScreenTranslations .icon.lang {
  margin-right: 8px;
}

.VPNavScreenTranslations .icon.chevron {
  margin-left: 4px;
}

.VPNavScreenTranslations .list {
  padding: 4px 0 0 24px;
}

.VPNavScreenTranslations .link {
  line-height: 32px;
  font-size: 13px;
  color: var(--vp-c-text-1);
}
