.VPNavScreenMenuGroup {
  border-bottom: 1px solid var(--vp-c-divider);
  height: 48px;
  overflow: hidden;
  transition: border-color 0.5s;
}

.VPNavScreenMenuGroup .items {
  visibility: hidden;
}

.VPNavScreenMenuGroup.open .items {
  visibility: visible;
}

.VPNavScreenMenuGroup.open {
  padding-bottom: 10px;
  height: auto;
}

.VPNavScreenMenuGroup.open .button {
  padding-bottom: 6px;
  color: var(--vp-c-brand-1);
}

.VPNavScreenMenuGroup.open .button .button-icon {
  /*rtl:ignore*/
  transform: rotate(45deg);
}

.VPNavScreenMenuGroup .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 4px 11px 0;
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-c-text-1);
  transition: color 0.25s;
}

.VPNavScreenMenuGroup .button:hover {
  color: var(--vp-c-brand-1);
}

.VPNavScreenMenuGroup .button .button-icon {
  transition: transform 0.25s;
}

.VPNavScreenMenuGroup .items .group:first-child {
  padding-top: 0px;
}

.VPNavScreenMenuGroup .items .group + .group,
.VPNavScreenMenuGroup .items .group + .item {
  padding-top: 4px;
}
