.VPNavBarExtra {
  display: none;
  margin-right: -12px;
}

@media (min-width: 768px) {
  .VPNavBarExtra {
    display: block;
  }
}

@media (min-width: 1280px) {
  .VPNavBarExtra {
    display: none;
  }
}

.VPNavBarExtra .group .trans-title {
  padding: 0 24px 0 12px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 700;
  color: var(--vp-c-text-1);
}

.VPNavBarExtra .group .item.appearance,
.VPNavBarExtra .group .item.social-links {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.VPNavBarExtra .group .item.appearance {
  min-width: 176px;
}

.VPNavBarExtra .group .item .appearance-action {
  margin-right: -2px;
}

.VPNavBarExtra .group .item .social-links-list {
  margin: -4px -8px;
}
