.VPNavBar {
  position: relative;
  height: var(--vp-nav-height);
  pointer-events: none;
  white-space: nowrap;
  transition: background-color 0.25s;
}

.VPNavBar.screen-open {
  transition: none;
  background-color: var(--vp-nav-bg-color);
  border-bottom: 1px solid var(--vp-c-divider);
}

.VPNavBar:not(.home) {
  background-color: var(--vp-nav-bg-color);
}

@media (min-width: 960px) {
  .VPNavBar:not(.home) {
    background-color: transparent;
  }

  .VPNavBar:not(.has-sidebar):not(.home.top) {
    background-color: var(--vp-nav-bg-color);
  }
}

.VPNavBar .wrapper {
  padding: 0 8px 0 24px;
}

@media (min-width: 768px) {
  .VPNavBar .wrapper {
    padding: 0 32px;
  }
}

@media (min-width: 960px) {
  .VPNavBar.has-sidebar .wrapper {
    padding: 0;
  }
}

.VPNavBar .wrapper .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(var(--vp-layout-max-width) - 64px);
  height: var(--vp-nav-height);
  pointer-events: none;
}

.VPNavBar .wrapper .container > .title,
.VPNavBar .wrapper .container > .content {
  pointer-events: none;
}

.VPNavBar .wrapper .container * {
  pointer-events: auto;
}

@media (min-width: 960px) {
  .VPNavBar.has-sidebar .wrapper .container {
    max-width: 100%;
  }
}

.VPNavBar .wrapper .container .title {
  flex-shrink: 0;
  height: calc(var(--vp-nav-height) - 1px);
  transition: background-color 0.5s;
}

@media (min-width: 960px) {
  .VPNavBar.has-sidebar .wrapper > .container > .title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 32px;
    width: var(--vp-sidebar-width);
    height: var(--vp-nav-height);
    background-color: transparent;
  }
}

@media (min-width: 1440px) {
  .VPNavBar.has-sidebar .wrapper > .container > .title {
    padding-left: max(
      32px,
      calc((100% - (var(--vp-layout-max-width) - 64px)) / 2)
    );
    width: calc(
      (100% - (var(--vp-layout-max-width) - 64px)) / 2 +
        var(--vp-sidebar-width) - 32px
    );
  }
}

.VPNavBar .wrapper .container .content {
  flex-grow: 1;
}

@media (min-width: 960px) {
  .VPNavBar.has-sidebar .wrapper .container .content {
    position: relative;
    z-index: 1;
    padding-left: var(--vp-sidebar-width);
    padding-right: 32px;
  }
}

@media (min-width: 1440px) {
  .VPNavBar.has-sidebar .wrapper .container .content {
    padding-left: calc(
      (100% - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width)
    );
    padding-right: calc((100% - var(--vp-layout-max-width)) / 2 + 32px);
  }
}

.VPNavBar .wrapper .container .content .content-body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--vp-nav-height);
  transition: background-color 0.5s;
}

@media (min-width: 960px) {
  .VPNavBar:not(.home.top) .wrapper .container .content .content-body {
    position: relative;
    background-color: var(--vp-nav-bg-color);
  }

  .VPNavBar:not(.has-sidebar):not(.home.top)
    .wrapper
    .container
    .content
    .content-body {
    background-color: transparent;
  }

  .VPNavBar .wrapper .container .content .content-body {
    margin-right: -100vw;
    padding-right: 100vw;
  }
}

.VPNavBar
  .wrapper
  .container
  .content
  .content-body
  .menu
  + .translations::before,
.VPNavBar
  .wrapper
  .container
  .content
  .content-body
  .menu
  + .appearance::before,
.VPNavBar
  .wrapper
  .container
  .content
  .content-body
  .menu
  + .social-links::before,
.VPNavBar
  .wrapper
  .container
  .content
  .content-body
  .translations
  + .appearance::before,
.VPNavBar
  .wrapper
  .container
  .content
  .content-body
  .appearance
  + .social-links::before {
  margin-right: 8px;
  margin-left: 8px;
  width: 1px;
  height: 24px;
  background-color: var(--vp-c-divider);
  content: '';
}

.VPNavBar
  .wrapper
  .container
  .content
  .content-body
  .menu
  + .appearance::before,
.VPNavBar
  .wrapper
  .container
  .content
  .content-body
  .translations
  + .appearance::before {
  margin-right: 16px;
}

.VPNavBar
  .wrapper
  .container
  .content
  .content-body
  .appearance
  + .social-links::before {
  margin-left: 16px;
}

.VPNavBar .wrapper .container .content .content-body .social-links {
  margin-right: -8px;
}

.VPNavBar .divider {
  width: 100%;
  height: 1px;
}

@media (min-width: 960px) {
  .VPNavBar.has-sidebar .divider {
    padding-left: var(--vp-sidebar-width);
  }
}

@media (min-width: 1440px) {
  .VPNavBar.has-sidebar .divider {
    padding-left: calc(
      (100% - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width)
    );
  }
}

.VPNavBar .divider .divider-line {
  width: 100%;
  height: 1px;
  transition: background-color 0.5s;
}

.VPNavBar:not(.home) .divider .divider-line {
  background-color: var(--vp-c-gutter);
}

@media (min-width: 960px) {
  .VPNavBar:not(.home.top) .divider .divider-line {
    background-color: var(--vp-c-gutter);
  }

  .VPNavBar:not(.has-sidebar):not(.home.top) .divider {
    background-color: var(--vp-c-gutter);
  }
}
