.VPNavScreenMenuGroupSection {
  display: block;
}

.VPNavScreenMenuGroupSection .title {
  line-height: 32px;
  font-size: 13px;
  font-weight: 700;
  color: var(--vp-c-text-2);
  transition: color 0.25s;
}
